body {
    font-size: large;
    text-align: center;
    padding-top: 36px;
}

div p {
    color: crimson;
}

div > p {
    color: forestgreen;
}

div ~ p {
    color: midnightblue;
}

div + p {
    color: mediumpurple;
}