.emphasize {
    color: red;
}
li {
    color: green;
}
#promote {
    color: magenta;
}
.emphasize2 {
    color: midnightblue;
}
.emphasize4 {
    color: violet;    
}
.emphasize5 {
    color: aqua;
}
.emphasize {
    color: aquamarine;
}
.emphasize8 {
    color: yellowgreen;
}
.emphasize9 {
    color: yellow;
}
.emphasize10 {
    color: wheat;
}
.emphasize11 {
    color: turquoise;
}
.emphasize12 {
    color: tomato;
}
.emphasize13 {
    color: thistle;
}
.emphasize14 {
    color: teal;
}
.emphasize15 {
    color: tan;
}
.emphasize16 {
    color: steelblue;
}
.emphasize17 {
    color: springgreen;
}
.emphasize18 {
    color: slategrey;
}
.emphasize19 {
    color: slateblue;
}
.emphasize20 {
    color: skyblue;
}
.emphasize21 {
    color: silver;
}
.emphasize22 {
    color: sienna;
}
.emphasize23 {
    color: seagreen;
}
.emphasize24 {
    color: sandybrown;
}
.emphasize25 {
    color: salmon;
}
.emphasize26 {
    color: saddlebrown;
}
.emphasize27 {
    color: royalblue;
}
.emphasize28 {
    color: rosybrown;
}
.emphasize29 {
    color: rgba(red, green, blue, alpha);
}
.emphasize30 {
    color: rebeccapurple;
}
.emphasize31 {
    color: purple;
}
.emphasize32 {
    color: powderblue;
}
.emphasize33 {
    color: plum;
}
.emphasize34 {
    color: pink;
}
.emphasize35 {
    color: peru;
}
.emphasize36 {
    color: peachpuff;
}
.emphasize37 {
    color: palevioletred;
}
.emphasize38 {
    color: paleturquoise;
}
.emphasize39 {
    color: palegreen;
}
.emphasize40 {
    color: palegoldenrod;
}
.emphasize41 {
    color: orchid;
}
.emphasize42 {
    color: orangered;
}
.emphasize43 {
    color: orange;
}
.emphasize44 {
    color: olivedrab;
}
.emphasize45 {
    color: olive;
}
.emphasize46 {
    color: navy;
}
.emphasize47 {
    color: navajowhite;
}
.emphasize48 {
    color: moccasin;
}
.emphasize49 {
    color: mistyrose;
}
.emphasize50 {
    color: mediumvioletred;
}
.emphasize51 {
    color: mediumturquoise;
}
.emphasize52 {
    color: mediumspringgreen;
}
.emphasize53 {
    color: mediumslateblue;
}
.emphasize54 {
    color: mediumseagreen;
}
.emphasize55 {
    color: mediumpurple;
}
.emphasize56 {
    color: mediumorchid;
}
.emphasize57 {
    color: mediumblue;
}
.emphasize58 {
    color: mediumaquamarine;
}
.emphasize59 {
    color: maroon;
}
.emphasize60 {
    color: limegreen;
}
.emphasize61 {
    color: lime;
}
.emphasize62 {
    color: lightsteelblue;
}
.emphasize63 {
    color: lightslategrey;
}
.emphasize64 {
    color: lightskyblue;
}
.emphasize65 {
    color: lightseagreen;
}
.emphasize66 {
    color: lightsalmon;
}
.emphasize67 {
    color: lightpink;
}
.emphasize68 {
    color: lightgrey;
}
.emphasize69 {
    color: lightgreen;
}
.emphasize70 {
    color: lightgray;
}
.emphasize71 {
    color: lawngreen;
}
.emphasize72 {
    color: lavender;
}
.emphasize73 {
    color: lightcoral;
}
.emphasize74 {
    color: lightblue;
}
.emphasize75 {
    color: khaki;
}
.emphasize76 {
    color: hotpink;
}
.emphasize77 {
    color: indigo;
}
.emphasize78 {
    color: indianred;
}
.emphasize79 {
    color: hsla(hue, saturation, lightness, alpha);
}
.emphasize80 {
    color: fuchsia;
}
.emphasize81 {
    color: grey;
}
.emphasize82 {
    color: greenyellow;
}
.emphasize83 {
    color: green;
}
.emphasize84 {
    color: gray;
}
.emphasize85 {
    color: goldenrod;
}
.emphasize86 {
    color: gold;
}
.emphasize87 {
    color: gainsboro;
}
.emphasize88 {
    color: forestgreen;
}
.emphasize89 {
    color: firebrick;
}
.emphasize90 {
    color: dodgerblue;
}
.emphasize91 {
    color: dimgrey;
}
.emphasize92 {
    color: dimgray;
}
.emphasize93 {
    color: deepskyblue;
}
.emphasize94 {
    color: deeppink;
}
.emphasize95 {
    color: darkviolet;
}
.emphasize96 {
    color: darkturquoise;
}
.emphasize97 {
    color: darkslategray;
}
.emphasize98 {
    color: darkslateblue;
}