* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    border: 2px solid red;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

div {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: tomato;
    margin: 20px;
    font: bold 32px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}