* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    line-height: 1;
    border-radius: 0;
    outline: none;
    color: inherit;
}