html {
    background-color: #00539f;
}

ul {
    list-style: none;
    background-color: darkslateblue;
}

a {
    text-decoration: none;
    padding: 20px 20px;
    color: tomato;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

a[href="top"] {
    background-color: mediumslateblue;
}

a:hover {
    background-color: mediumseagreen;
}

li:last-child {
    border-bottom: none;
}