body {
    font-size: x-large;
    text-align: center;
    border: 20px solid darkkhaki;
}

a:link {
    color: orange;
}

a:visited {
    color: darkcyan;
}

a:hover {
    color: darkslategray;
}

a:active {
    color: sienna;
}